---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css"
const { frontmatter } = Astro.props;

---

<meta charset="utf-8" />
<Header />
<h1>{frontmatter.title}</h1>
<p>Written by {frontmatter.author}</p>
<p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
<p>Description: {frontmatter.description}</p>
<!-- <p>
    tags:
    {frontmatter.tags.map(tag => <span> {tag}, </span>)}
</p> -->
<hr>
<img src={frontmatter.image.url} alt={frontmatter.image.alt} class="post-image">
<slot />
<Footer />